{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if post_form and user.is_authenticated %}
        <div class="border mx-2 p-4" id="new-post-form">
            <h2>New Post</h2>
            <form action="{% url 'post' %}" method="post">
                {% csrf_token %}
                {{ post_form.as_p }}
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    <div class="m-2" id="all-posts">
        {% if posts_page %}
            {% for post in posts_page %}
                <div class="border mt-2 p-4">
                    <h2><a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a></h2>
                    <p>{{ post.text }}</p>
                    <p class="text-muted">{{ post.creation_date }}</p>
                    <p><i class="bi bi-heart"></i> 0</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="m-2 text-muted">No posts in this section yet</p>
        {% endif %}
    </div>

    {% if posts_page.paginator.num_pages > 1 %}
        <div class="pagination m-2">
            <span class="step-links">
                {% if posts_page.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ posts_page.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ posts_page.number }} of {{ posts_page.paginator.num_pages }}.
                </span>

                {% if posts_page.has_next %}
                    <a href="?page={{ posts_page.next_page_number }}">next</a>
                    <a href="?page={{ posts_page.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}