{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ title }}</h1>

    {% if post_form and user.is_authenticated %}
        <div class="border mx-2 p-4" id="new-post-form">
            <h2>New Post</h2>
            <form action="{% url 'create_post' %}" method="post">
                {% csrf_token %}
                {{ post_form.as_p }}
                <input class="btn btn-primary" type="submit" value="Post">
            </form>
        </div>
    {% endif %}

    <div class="m-2" id="all-posts">
        {% if posts_page %}
            {% for post in posts_page %}
                <div class="post border mt-2 p-4">
                    <h2><a href="{% url 'profile' post.author.id %}">{{ post.author.username }}</a></h2>
                    {% if post.author == user %}
                        <div class="edit-container" data-postid="{{ post.id }}">
                            <p class="post-text">{{ post.text }}</p>
                            <a class="edit" href="javascript:;">Edit</a>
                        </div>
                    {% else %}
                        <p class="post-text">{{ post.text }}</p>
                    {% endif %}
                    <p class="text-muted">{{ post.creation_date }}</p>
                    <p><i class="bi bi-heart"></i> 0</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="m-2 text-muted">No posts in this section yet</p>
        {% endif %}
    </div>

    {% if posts_page.paginator.num_pages > 1 %}
        <!-- using Bootstrap pagination -->
        <nav class="m-2">
            <ul class="pagination">
                {% if posts_page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts_page.previous_page_number }}">previous</a>
                    </li>
                {% endif %}

                {% for page in posts_page.paginator.page_range %}
                    {% if page == posts_page.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                {{ page }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if posts_page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts_page.next_page_number }}">next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}