{% extends "network/layout.html" %}
{% load static %}

{% block body %}
    <h1>{{ profile_user.username }}</h1>

    <div class="m-2">
        <div class="d-flex">Followers:&nbsp;
            <span id="follower-count">{{ profile_user.followers.count }}</span>
            {# authenticated users can follow "other" users #}
            {% if user.is_authenticated and profile_user != user %}
                {# if already following this user, give the option to unfollow #}
                {% if profile_user in user.following.all %}
                    <button class="btn btn-sm btn-outline-primary ml-2" id="follow" data-userid="{{profile_user.id}}">Unfollow</button>
                {% else %}
                    <button class="btn btn-sm btn-primary ml-2" id="follow" data-userid="{{profile_user.id}}">Follow</button>
                {% endif %}
            {% endif %}
        </div>
        <div>Following:
            {% if profile_user.following %}
                {{ profile_user.following.count }}
            {% else %}
                0
            {% endif %}
        </div>
    </div>

    <div class="m-2" id="profile-posts">
        {% if posts_page %}
            {% for post in posts_page %}
                <div class="border mt-2 p-4">
                    <p>{{ post.text }}</p>
                    <p class="text-muted">{{ post.creation_date }}</p>
                    <p><i class="bi bi-heart"></i> 0</p>
                </div>
            {% endfor %}
        {% else %}
            <p class="mt-4 text-muted">User has no posts yet.</p>
        {% endif %}
    </div>

    {% if posts_page.paginator.num_pages > 1 %}
        <!-- using Bootstrap pagination -->
        <nav class="m-2">
            <ul class="pagination">
                {% if posts_page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts_page.previous_page_number }}">previous</a>
                    </li>
                {% endif %}

                {% for page in posts_page.paginator.page_range %}
                    {% if page == posts_page.number %}
                        <li class="page-item active" aria-current="page">
                            <span class="page-link">
                                {{ page }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if posts_page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ posts_page.next_page_number }}">next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% endif %}
{% endblock %}

{% block script %}
    <script src="{% static 'network/profile.js' %}"></script>
{% endblock %}