{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ user_.username }}</h1>

    <div class="m-2">
        <div class="d-flex">
            Followers: {{ user_.in_following_lists.count }}
            {# authenticated users can follow "other" users #}
            {% if user.is_authenticated and user_ != user %}
                <form class="ml-2" action="{% url 'follow' user_.id %}" method="post">
                    {% csrf_token %}
                    {# if we are already following this user_, give the option to unfollow him #}
                    {% if user_ in user.following_list.members.all %}
                        <button type="submit" class="btn btn-sm btn-outline-primary"
                                name="follow" value="False">Unfollow</button>
                    {% else %}
                        <button type="submit" class="btn btn-sm btn-outline-primary"
                                name="follow" value="True">Follow</button>
                    {% endif %}
                </form>
            {% endif %}
        </div>
        <div>Following:
            {% if user_.following_list %}
                {{ user_.following_list.members.count }}
            {% else %}
                0
            {% endif %}
        </div>
    </div>

    <div class="m-2" id="profile-posts">
        {% for post in posts %}
            <div class="border mt-2 p-4">
                <p>{{ post.text }}</p>
                <p class="text-muted">{{ post.creation_date }}</p>
                <p><i class="bi bi-heart"></i> 0</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}