{% extends "baskets/layout.html" %}
{% load i18n %}

{% block body %}

    <h2>{% translate 'Login' %}</h2>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input autofocus class="form-control" type="text" name="username" placeholder="{% translate 'Username' %}">
        </div>
        <div class="mb-3">
            <input class="form-control" type="password" name="password" placeholder="{% translate 'Password' %}">
        </div>
        <input class="btn btn-primary" type="submit" value="{% translate 'Login' %}">
    </form>

    <div class="mt-3">
        <p>{% translate 'Don’t have an account?' %} <a href="{% url 'register' %}">{% translate 'Register here.' %}</a></p>
        <p>{% translate 'Forgotten your password?' %} <a href="{% url 'password_reset' %}">{% translate 'Reset your password here.' %}</a></p>
    </div>

{% endblock %}
