{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <div id="header" class="d-flex justify-content-between flex-wrap-reverse">
        <ul class="nav nav-pills" id="nav">
            <li class="nav-item">
                <a class="nav-link" id="inbox" href="javascript:;">Inbox</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="compose" href="javascript:;">Compose</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="sent" href="javascript:;">Sent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="archived" href="javascript:;">Archived</a>
            </li>
        </ul>
        <div id="user" class="d-flex align-items-center">
            <h3 class="text-break">{{ request.user.email }}</h3>
            <a class="ml-2 btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>

    <hr class="mt-1 mb-4">
    <div class="alert-danger" id="error"></div>

    <div id="emails-view" data-url="{% url 'mailbox' 'inbox' %}">
        <div class="container" id="email-container" data-url="{% url 'email' 0 %}">
        </div>
    </div>

    <div id="email-view">
        <div>
            <b>From:</b> <span id="email-from"></span>
        </div>
        <div>
            <b>To:</b> <span id="email-to"></span>
        </div>
        <div>
            <b>Subject:</b> <span id="email-subject"></span>
        </div>
        <div>
            <b>Timestamp:</b> <span id="email-timestamp"></span>
        </div>

        <div class="d-flex">
            <button class="btn btn-sm btn-outline-primary mt-3 mr-1" id="archive">Archive</button>
            <button class="btn btn-sm btn-outline-primary mt-3" id="reply">Reply</button>
        </div>
        <hr>

        <div id="email-body">
        </div>
    </div>

    <div id="compose-view">
        <form id="compose-form" data-url="{% url 'compose' %}">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
                <span id="recipients-error" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input type="submit" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}