.header {
    text-align: right;
    font-family: sans-serif;
    font-size: 12px;
    color: #272727;
}

a:link {
    color: black;
    text-decoration: none;
    margin: 5px;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}

.content {
    text-align: center;
    margin-top: 100px;
}

#logo {
    width: 250px;
}

#search-bar {
    width: 520px;
    border: 1px solid #EEE4E4;
    border-radius: 25px;
    font-size: 15px;
    font-family: sans-serif;
    padding: 12px;
    margin: 5px;
    text-indent: 30px;
    background: white url(../img/magnifying-glass.png) left no-repeat;
    background-size: 30px 15px;
}

#search-bar:hover {
    box-shadow: 0 0 2px #26BF47;
}

.button {
    border: 1px solid white;
    border-radius: 5px;
    color: #65455F;
    background-color: #F8F9FA;
    font-family: sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
}

.button:hover {
    border: 1px solid #EEE4E4;
    background-color: #F8F9FA;
    box-shadow: 0 0 1px #EEEEEE;
}

.button:active {
    border: 1px solid #4285f4;
    background-color: #FAF1F1;
}
