{% extends "auctions/layout.html" %}

{% block title %}
    {% url 'index' as index_url %}
    {% url 'watchlist' as watchlist_url %}

    {% if request.path == index_url %}
        Auctions - Active Listings
    {% elif request.path == watchlist_url %}
        Auctions - Watchlist
    {% else %} {# category #}
        Auctions - {{ category_name }}
    {% endif %}
{% endblock %}

{% block body %}
    {% url 'watchlist' as watchlist_url %}
    <div id="index-page" class="col-lg-8 offset-lg-1">
        {% if category_name %}
            <h1>{{ category_name }}</h1>
        {% endif %}
        <div id="index-container">
            {% for listing in listings %}
                <a href="{% url 'listing' listing.id %}">
                    <!-- using Bootstrap horizontal cards -->
                    <article class="card mb-3">
                        <div class="row g-0">
                            <figure class="col-md-4 mb-0">
                                {% if listing.image_url %}
                                    <img src="{{ listing.image_url }}" class="img-fluid" alt="{{ listing.title }}" />
                                {% else %}
                                    {% load static %}
                                    <img src="{% static 'auctions/no_image.svg' %}" class="img-fluid" alt="No image" />
                                {% endif %}
                            </figure>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h4 class="card-title">{{ listing.title }}</h4>
                                    <h5 class="card-subtitle mb-3">
                                        {% if listing.bids.count %}
                                            ${{ listing.bids.last.amount_dollars }}
                                        {% else %}
                                            ${{ listing.starting_bid_dollars }}
                                        {% endif %}
                                    </h5>
                                    {% if listing.description %}
                                        <p class="card-text">{{ listing.description }}</p>
                                    {% endif %}
                                    <p class="card-text text-muted">Created: {{ listing.creation_date }}</p>
                                    {% if request.path == watchlist_url %}
                                        <form id="watchlist-trash" action="{% url 'watchlist' %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="listing_id" value="{{ listing.id }}">
                                            <input type="hidden" name="from_url" value="{{ request.path }}">
                                            <button type="submit" class="btn btn-light" name="watchlist" value="remove"
                                                    title="remove from watchlist">
                                                <img src="{% static 'auctions/trash-fill.svg' %}" />
                                            </button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </article>
                </a>
            {% empty %}
                {% if request.path == watchlist_url %}
                    <p>Watchlist is empty</p>
                {% else %}
                    <p>No active listings found</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
