{% extends "auctions/layout.html" %}

{% block title %}Auctions - Active Listings {% endblock %}

{% block body %}
    <div id="index-page">
        {% for listing in listings %}
            <a href="{% url 'listing' listing.id %}">
                <article>
                    <figure>
                        {% if listing.image_url %}
                            <img src="{{ listing.image_url }}" alt="{{ listing.title }}" />
                        {% else %}
                            {% load static %}
                            <img src="{% static 'auctions/no_image.svg' %}" alt="No image" />
                        {% endif %}
                    </figure>
                    <h1>{{ listing.title }}</h1>
                    <div class="price">
                        {% if listing.bids.count %}
                            ${{ listing.bids.last.amount_dollars }}
                        {% else %}
                            ${{listing.starting_bid_dollars}}
                        {% endif %}
                    </div>
                    {% if listing.description %}
                        <div class="description">{{ listing.description }}</div>
                    {% endif %}
                    <div class="text-muted">Created: {{ listing.creation_date }}</div>
                </article>
            </a>
        {% empty %}
            <p>No listings found.</p>
        {% endfor %}
    </div>
{% endblock %}
