{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
        <link rel="icon" href="{% static 'auctions/logo.png' %}">
    </head>
    <body>
        <header>
            <div class="title">
                <img src="{% static 'auctions/logo.png' %}" />
                <h1>Auctions</h1>
            </div>
            <div class="user-login">
                {% if user.is_authenticated %}
                    <p>Signed in as <strong>{{ user.username }}</strong>.</p>
                    <p><a href="{% url 'logout' %}">Log Out</a></p>
                {% else %}
                    <p>Not signed in.</p>
                    <p>
                        <a href="{% url 'login' %}">Log In</a> or
                        <a href="{% url 'register' %}">Register</a>
                    </p>
                {% endif %}
            </div>
        </header>
        <nav>
            {% url 'index' as index_url %}
            {% url 'create' as create_url %}
            {% url 'watchlist' as watchlist_url %}
            {% url 'categories_index' as categories_url %}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link {% if request.path == index_url %} active {% endif %}" href="{{ index_url }}">Active Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if categories_url in request.path %} active {% endif %}" href="{{ categories_url }}">Categories</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == watchlist_url %} active {% endif %}" href="{{ watchlist_url }}">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == create_url %} active {% endif %}" href="{{ create_url }}">Create Listing</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
        {% block body %}
        {% endblock %}
    </body>
</html>
