{% extends "auctions/layout.html" %}

{% block title %}Auctions - {{ listing.title }} {% endblock %}

{% block body %}
    <div id="listing-page">
        <section class="main">
            <figure>
                {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" />
                {% else %}
                {% load static %}
                <img src="{% static 'auctions/no_image.svg' %}" alt="No image" />
                <figcaption>(No image has been uploaded for this listing)</figcaption>
                {% endif %}
            </figure>
            <div class="header">
                <h1>{{ listing.title }}</h1>
                {% if user.is_authenticated %}
                    <form id="watchlist-form" action="{% url 'watchlist' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="listing_id" value="{{ listing.id }}">
                        <input type="hidden" name="from_url" value="{{ request.path }}">
                        {% if listing in user.watchlist.listings.all %}
                            <button type="submit" class="badge bg-primary" title="Remove from watchlist" name="watchlist"
                                    value="remove">Watchlist</button>
                        {% else %}
                            <button type="submit" class="badge bg-secondary" title="Add to watchlist" name="watchlist"
                                    value="add">Watchlist</button>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
            <p class="price">
                <strong>
                {% if listing.bids.count %}
                    ${{ listing.bids.last.amount_dollars }}
                {% else %}
                    ${{ listing.starting_bid_dollars }}
                {% endif %}
                </strong>
            </p>
            {% if listing.description %}
                <p class="description">{{ listing.description }}</p>
            {% endif %}
        </section>
        <hr>
        <section class="auction">
            {% if listing.is_active %}
                <p>{{ listing.bids.count }} bid(s) so far.
                    {% if listing.bids.last.user == user %}
                        <span class="text-success">Your bid is the current bid</span>
                    {% endif %}
                </p>
                {% if user == listing.user %}
                    <form action="{% url 'close' listing.id %}" method="post">
                        {% csrf_token %}
                        <input class="btn btn-primary" type="submit" value="Close Auction" />
                    </form>
                {% endif %}
                {% if user.is_authenticated and user != listing.user %}
                    <form id="bid-form" action="{% url 'bid' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ bid_form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Place Bid" />
                    </form>
                    {% if message %}
                        <p class="error">{{ message }}</p>
                    {% endif %}
                {% endif %}
            {% else %}
                <p>{{ listing.bids.count }} total bid(s).</p>
                <p><strong>Auction is closed.</strong></p>
                {% if listing.bids.last.user == user %}
                    <p class="alert alert-success"><strong>You won the auction.</strong></p>
                {% endif %}
            {% endif %}
        </section>
        <section class="details">
            <h2>Details:</h2>
            <ul>
                <li>Listed by: {{ listing.user.username }}</li>
                <li>Category:
                    {% if listing.category.name %}
                        <a href="{% url 'category' listing.category.id %}">{{ listing.category.name }}</a>
                    {% else %}
                        No Category Listed
                    {% endif %}
                </li>
                <li>Created: {{ listing.creation_date }}</li>
            </ul>
        </section>
        <section class="comments">
            <h2>Comments:</h2>
            {% if listing.comments.count %}
                {% for comment in listing.comments.all %}
                    <div class="comment">
                        <p><strong>{{ comment.user }}</strong> <span class="text-muted">{{ comment.date }}</span></p>
                        <p>{{ comment.text }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No comments has been made on this listing.</p>
            {% endif %}
            {% if user.is_authenticated %}
                <form id="comment-form" action="{% url 'comment' listing.id %}" method="post">
                    {% csrf_token %}
                    {{ comment_form.as_p }}
                </form>
            {% endif %}
        </section>
    </div>
{% endblock %}
