{% extends "auctions/layout.html" %}

{% block title %}Auctions - {{ listing.title }} {% endblock %}

{% block body %}
    <div id="listing-page">
        <h1>{{ listing.title }}</h1>
        <figure>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" />
            {% else %}
                {% load static %}
                <img src="{% static 'auctions/no_image.svg' %}" alt="No image" />
                <figcaption>(No image has been uploaded for this listing)</figcaption>
            {% endif %}
        </figure>
        {% if listing.description %}
            <p>{{ listing.description }}</p>
        {% endif %}
        <p><strong>
            {% if listing.bids.last.amount_dollars %}
                ${{ listing.bids.last.amount_dollars }}
            {% else %}
                ${{ listing.starting_bid_dollars }}
            {% endif %}
        </strong></p>
        <div id="auction">
            {% if listing.is_active %}
                <p>{{ listing.bids.count }} bid(s) so far.
                    {% if listing.bids.last.user == user %}
                        Your bid is the current bid
                    {% endif %}
                </p>
                {% if user.is_authenticated and user != listing.user %}
                    <form id="bid-form" action="{% url 'bid' listing.id %}" method="post">
                        {% csrf_token %}
                        {{ bid_form.as_p }}
                        <input class="btn btn-primary" type="submit" value="Place Bid" />
                    </form>
                    {% if message %}
                        <p class="error">{{ message }}</p>
                    {% endif %}
                {% endif %}
            {% else %}
                <p><strong>Auction is closed.</strong></p>
                <p>{{ listing.bids.count }} total bid(s).</p>
                {% if listing.bids.last.user == user %}
                    <p class="congrats"><strong>You won the auction.</strong></p>
                {% endif %}
            {% endif %}
        </div>
        <div id="details">
            <h2>Details:</h2>
            <ul>
                <li><p>Listed by: {{ listing.user.username }}</p></li>
                <li>
                    {% if listing.category.name %}
                        <p>Category: {{ listing.category.name }}</p>
                    {% else %}
                        <p>Category: No Category Listed</p>
                    {% endif %}
                </li>
                <li><p>Created: {{ listing.creation_date }}</p></li>
            </ul>
        </div>
    </div>
{% endblock %}
