body {
    padding: 10px;
}

/* Layout */

header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.title img {
    padding: 12px;
    height: 100px;
}

.title h1 {
    font-family: URW Bookman L, Arial, sans-serif;
    color: steelblue;
}

.user-login {
    text-align: right;
}

.user-login p {
    margin: 0px;
}

.nav {
    margin-bottom: 20px;
}

/* Index */

#index-page {
    display: flex;
    flex-wrap: wrap;
}

#index-page a:link {
    text-decoration: none;
}

article {
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 1px solid steelblue;
    border-radius: 10px;
    box-shadow: 1px 1px #4ACBBC;
}

article:hover {
    border: 2px solid steelblue;
    box-shadow: 5px 5px 5px grey;
}

article figure {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

article img {
    max-width: 200px;
    max-height: 200px;
}

article h1 {
    color: steelblue;
    font-size: x-large;
    overflow: auto;
}

article div {
    margin-top: 10px;
    color: black;
    font-size: medium;
    overflow: auto;
}

.text-muted {
    font-size: small;
}

/* Create */

#create-page {
    margin-left: 40px;
}

#create-page td {
    padding: 10px;
    width: 300px;
}

#id_title, #id_image_url {
    width: 500px;
}

#id_description {
    height: 140px;
}

#id_starting_bid_dollars {
    width: 120px;
}

#create-page .btn {
    margin-top: 20px;
}
