body {
    padding: 10px;
}

/* Layout */
header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.title img {
    padding: 12px;
    height: 100px;
}

.title h1 {
    font-family: URW Bookman L, Arial, sans-serif;
    color: steelblue;
}

.user-login {
    text-align: right;
}

.user-login p {
    margin: 0px;
}

.nav {
    margin-bottom: 20px;
}

/* Index */
#index-page h1 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: x-large;
}

#index-container {
    display: flex;
    flex-wrap: wrap;
}

#index-page a:link {
    text-decoration: none;
}

#index-page article {
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 1px solid steelblue;
    border-radius: 10px;
    box-shadow: 1px 1px #4ACBBC;
}

#index-page article:hover {
    border: 2px solid steelblue;
    box-shadow: 5px 5px 5px grey;
}

#index-page figure {
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#index-page img {
    max-width: 200px;
    max-height: 200px;
}

#index-page h2 {
    color: steelblue;
    font-size: x-large;
    overflow: auto;
}

#index-page article div {
    margin-top: 10px;
    color: black;
    font-size: medium;
    overflow: auto;
}

.text-muted {
    font-size: small;
}

#index-page p {
    margin: 20px;
}

/* Create Page */
#create-page {
    margin-left: 40px;
}

#create-page td {
    padding: 10px;
    width: 300px;
}

#id_title, #id_image_url {
    width: 500px;
}

#id_description {
    height: 140px;
}

#id_starting_bid_dollars {
    width: 120px;
}

#create-page .btn {
    margin-top: 20px;
}

/* Listing */
#listing-page figure {
    text-align: center;
    background-color: #F7EAEA;
}

#listing-page img {
    max-height: 400px;
    max-width: 100%;
}

#listing-page .header {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#listing-page h1 {
    overflow: auto;
}

#listing-page .price {
    font-size: x-large;
}

#listing-page .description {
    overflow: auto;
}

#bid-form {
    display: flex;
    height: 40px;
}

#id_amount_dollars {
    width: 120px;
}

#bid-form .btn {
    margin-left: 10px;
}

.error {
    color: red;
}

#listing-page h2 {
    margin-top: 10px;
}

#listing-page ul {
    list-style-type: none;
    padding: 0;
}

.comment {
    margin-top: 10px;
}

.comment p {
    margin: 0;
}

#id_text {
    margin-top: 10px;
    width: 500px;
}

/* Watchlist */
#watchlist-page a:link {
    text-decoration: none;
}

.card {
    border: 1px solid #4ACBBC;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover {
    border: 2px solid #4ACBBC;
    box-shadow: 2px 2px 2px grey;
}

.card figure {
    text-align: center;
}

.card img {
    min-height: 100%;
    max-height: 250px;
}

.card-title {
    color: steelblue;
}

.card-subtitle, .card-text {
    color: black;
}

#watchlist-page form {
    position: absolute;
    bottom: 10px;
    right: 30px;
}

/* Categories */
#categories-page {
    margin-left: 20px;
}